.vscode/*
*.pyc
__pycache__/*

*.csv
!backend/seed_data/*.csv
!data/raw/games/*.csv
!data/raw/teams/*.csv

*.env

.venv/
.airflow-home/
backend/.venv/
backend/data/

data/processed/
data/raw/unresolved_teams.txt

frontend/node_modules/
frontend/dist/
